
# local dev website files
dist
main

# generated docs
generate-build

# example binaries
examples/Arithmetic/main
examples/IngestFiles/main
examples/FizzBuzz/main
examples/HelloWorld/main
examples/Json/main
examples/Parser/main
examples/RandomNumbers/main
examples/CommandLineArgs/main
examples/Tasks/main
examples/Tuples/main
examples/EncodeDecode/main
examples/SafeMath/main
examples/GoPlatform/platform/*.dylib
roc_nightly/

# macOS directory attributes
.DS_Store

roc.html
